// Simple clearfix
@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

// Center container helper
@mixin center($max-width: 1200px) {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
}

// Small media query helper
@mixin respond-max($px) {
	@media (max-width: $px) {
		@content;
	}
}

